/************************/
/* CSS Reset (Modified) */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* End of CSS Reset */

/********************/
/* root/default variables */
:root {
  --color-gradiant-300: hsl(192, 100%, 67%);
  --color-gradiant-700: hsl(280, 87%, 65%);

  --font-color-head: hsl(236, 33%, 92%);
  --font-color-main: hsl(235, 19%, 35%);
  --font-color-alt: hsl(236, 9%, 61%);
  --font-color-filter-active: hsl(220, 98%, 61%);
  --font-color-filter-hover: hsl(235, 19%, 35%);
  --font-color-filter-inactive: hsl(236, 9%, 61%);

  --bg-color: hsl(236, 33%, 92%);
  --bg-color-todos: hsl(0, 0%, 98%);

  --banner-src-mobile: url("/images/bg-mobile-light.jpg");
  --banner-src-tablet: url("/images/bg-tablet-light.jpg");
  --banner-src-desktop: url("/images/bg-desktop-light.jpg");

  --themeSwitch-src: url("/images/icon-moon.svg");
}
/* dark theme */
[dataTheme="dark"] {
  --color-gradiant-300: hsl(192, 100%, 67%);
  --color-gradiant-700: hsl(280, 87%, 65%);

  --font-color-head: hsl(236, 33%, 92%);
  --font-color-main: hsl(236, 33%, 92%);
  --font-color-alt: hsl(234, 11%, 52%);
  --font-color-filter-active: hsl(220, 98%, 61%);
  --font-color-filter-hover: hsl(236, 33%, 92%);
  --font-color-filter-inactive: hsl(234, 11%, 52%);

  --bg-color: hsl(235, 21%, 11%);
  --bg-color-todos: hsl(235, 24%, 19%);

  --banner-src-mobile: url("/images/bg-mobile-dark.jpg");
  --banner-src-tablet: url("/images/bg-tablet-dark.jpg");
  --banner-src-desktop: url("/images/bg-desktop-dark.jpg");

  --themeSwitch-src: url("/images/icon-sun.svg");
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  min-height: 100vh;
  color: hsl(235, 19%, 35%);
  color: var(--font-color-main);
  background-color: hsl(0, 0%, 98%);
  background-color: var(--bg-color);
}

.banner img {
  content: url("/images/bg-mobile-light.jpg");
  content: var(--banner-src-mobile);
  position: fixed;
  top: 0;
  z-index: -1;
}

@media only screen and (min-width: 700px) {
  .banner img {
    left: 0;
    content: url("/images/bg-tablet-light.jpg");
    content: var(--banner-src-tablet);
  }
}

@media only screen and (min-width: 1100px) {
  .banner img {
    left: 0;
    content: url("/images/bg-desktop-light.jpg");
    content: var(--banner-src-desktop);
  }
}

@media only screen and (min-width: 1300px) {
  .banner img {
    width: 100vw;
    height: 17rem;
    object-fit: cover;
  }
}

.container {
  width: 95vw;
  max-width: 700px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 2rem 1rem;
  padding-top: 2rem;
}

.header h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.25em;
  color: hsl(236, 33%, 92%);
  color: var(--font-color-head);
}

.header label {
  position: relative;
}

.header label input {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  left: -0.25rem;
  top: -0.25rem;
  opacity: 0;
}

.header label img {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.2rem;

  content: url("/images/icon-moon.svg");
  content: var(--themeSwitch-src);
}

.header label input:hover {
  cursor: pointer;
}

.addNew {
  position: relative;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem 3rem;
}

.addNew input {
  flex-grow: 2;
  height: 100%;
  font-size: 1.5rem;
  background-color: hsl(0, 0%, 98%);
  background-color: var(--bg-color-todos);
  color: hsl(235, 19%, 35%);
  color: var(--font-color-main);
  border: none;
  border-radius: 5px;
  padding: 0 4rem;
}

.addNew input:focus {
  outline: 3px solid hsl(235, 19%, 35%);
  outline: 3px solid var(--font-color-main);
}

.todo {
  min-height: 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  background-color: var(--bg-color-todos);
  color: hsl(235, 19%, 35%);
  color: var(--font-color-main);

  margin: 0 2rem;
  padding: 0 1rem;

  border-bottom: 1px solid hsl(236, 9%, 61%);
  border-bottom: 1px solid var(--font-color-alt);

  cursor: pointer;
}

.todo-heading {
  user-select: none;
  text-align: center;
  font-size: 1.3rem;
  color: hsl(236, 9%, 61%);
  color: var(--font-color-alt);
  padding: 0 3rem;
}

.todo input {
  flex-grow: 2;
  font-size: 1.5rem;
  background-color: hsl(0, 0%, 98%);
  background-color: var(--bg-color-todos);
  color: hsl(220, 98%, 61%);
  color: var(--font-color-filter-active);
  border: none;
  border-radius: 10px;
  padding: 0 0.5rem;
  margin: 0.5rem 0.5rem;
}

.todo input:focus {
  outline: none;
}

.todo:first-of-type {
  border-radius: 5px 5px 0 0;
}

.todo span {
  flex-grow: 2;
  padding: 0.5rem 1rem;
}

.todo img {
  height: 2rem;
  padding: 0.5rem;
}

.todo.checked {
  text-decoration: line-through;
  color: hsl(236, 9%, 61%);
  color: var(--font-color-alt);
}

.todo img:first-of-type {
  opacity: 1;
  border-radius: 50%;

  /* background-color: hsl(0, 0%, 98%);
  background-color: var(--bg-color-todos); */
  border: 3px solid #494c6b;
}

.checked img:first-of-type {
  background-image: linear-gradient(
    -45deg,
    var(--color-gradiant-700),
    var(--color-gradiant-300)
  );
}

.hide {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  background-color: var(--bg-color-todos);
  color: hsl(236, 9%, 61%);
  color: var(--font-color-alt);

  min-height: 2.5rem;
  margin: 0 2rem;
  padding: 0.5rem 1.5rem;

  border-radius: 0 0 5px 5px;
}

.menu .count {
  width: 7.5rem;
}

.menu .filter {
  flex-grow: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 500px) {
  .menu .filter {
    flex-direction: row;
  }
}

.menu .filter span {
  padding: 0.5rem;
}

.menu .filter span:hover {
  color: hsl(235, 19%, 35%);
  color: var(--font-color-main);
  cursor: pointer;
}

.menu .active {
  font-weight: 700;
  color: hsl(220, 98%, 61%);
  color: var(--font-color-filter-active);
}

.menu .clearCompleted {
  width: 7.5rem;
  text-align: right;
}

.menu .clearCompleted:hover {
  color: hsl(235, 19%, 35%);
  color: var(--font-color-main);
  cursor: pointer;
}

.infoSection {
  margin: 1rem 0;
  text-align: center;
  user-select: none;
  color: hsl(236, 9%, 61%);
  color: var(--font-color-alt);
}

/* .debug {
  display: flex;
  place-content: center;
}

.debug-item {
  text-align: center;
  font-size: 1rem;
  color: purple;

  padding: 0.5rem 0.5rem;
  margin: 0.5rem;
  border: 2px solid purple;

  cursor: pointer;
}

.debug-item:hover {
  background-color: purple;
  color: hsl(0, 0%, 98%);
} */
